# Byte-compiled / cache
__pycache__/
*.py[cod]
.pytest_cache/

# Environment & secrets
.env
api_key.json
project_contents_for_llm.yaml
project_contents_for_llm.txt

# VSCode, macOS
.vscode/
.DS_Store

# Large generated data and ontology files
# /data/
/ontologies/
/models/
/outputs/

# Log files
#*.logdata/ontologies/gene_info.tsv
